<table class="table">
	<theader>
		<tr>
			<td></td>
			<td>id</td>
			<td>active</td>
			<td>nickname</td>
			<td>email</td>
		<tr>
	</theader>
	<tbody>
		{foreach from=$D.USER.D name=USE item=USE key=kUSE}
			<tr>
				<td><button class="btn btn-default btn-xs" type="button" onclick="$('#page').load('?D[PAGE]=admin__user&D[ACTION]=get_user&D[USER][W][ID]={$kUSE}');return false;"><i class="fa fa-pencil-square-o"></i></button></td>
				<td>{$kUSE}</td>
				<td>{$USE.ACTIVE}</td>
				<td>{$USE.NICK}</td>
				<td>{$USE.EMAIL}</td>
			<tr>
		{/foreach}
	</tbody>
</table>